<?xml version="1.0" encoding="utf-8"?>
<settings>
	<!-- enable (1) or disable (0) plugin -->
	<enabled>1</enabled>
	<!-- Ladder points multiplicator -->
	<lpmulti>10000</lpmulti>
	<!-- 'minrecords' limits the amount of data, higher values will increases the ladder performance -->
	<minrecords>5</minrecords>
	<!-- 'maxrecords' limits the amount of points per track, higher values will increases accuracy -->
	<maxrecords>500</maxrecords>
	<!-- (0) best player = min. points or (1) best player = max. points -->
	<ladderoption>0</ladderoption>
</settings>